:host ::ng-deep {
    .mat-list-text {
        display: grid !important;
        grid-template-columns: repeat(2, 0fr);
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}