:host ::ng-deep {
    .mat-list-text {
        display: grid !important;
        grid-template-columns: repeat(2, 0fr);
        align-items: center;
        // display: flex;
        // flex-direction: row !important;
        // justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}