:host ::ng-deep {
    .selection-list-header {
        border-bottom: 2px solid #8b8b8b;
        margin-bottom: 1rem;
    }

    .mat-list-text {
        display: flex;
        // flex-direction: row !important;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}