.app-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: antiquewhite;
    padding: 1em;
    // margin: 0.5em;

    &:hover {
        background-color: burlywood;
    }
}